.popup.open{
    visibility: visible;
}
.popup-dialog-menu{
    visibility: hidden;
}
.popup-dialog-menu.active{
    transform: translate3d(0,0,0);
    visibility: visible;
}
.lock{
    overflow: hidden;
}

.formula-item-popup.formula-item-popup__reverted{
    top: 100px;
    padding-top: 40px;
}
.formula-item-popup.formula-item-popup__reverted:before{
    transform: rotate(180deg);
}

.formula-item-popup.formula-item-popup__reverted p{
    padding-top: 15px;
}
.formula-item-popup.active{
    opacity: 1;
    visibility: visible;

}
.repair-types-nav__item-block{
    margin-top: 22px;
}
.repair-types-nav__item-block:first-child{
    margin-top: 0;
}
@media (max-width: 1024px) {
    .repair-types-nav__item-block{
        display: flex;
        justify-content: center;

    }
}
@media (max-width: 1090px){
    .transparency-slider.row{
        display: flex;
        flex-wrap: nowrap;
    }
}



