.popup.open{
    visibility: visible;
}
.popup-dialog-menu{
    visibility: hidden;
}
.popup-dialog-menu.active{
    transform: translate3d(0,0,0);
    visibility: visible;
}
.lock{
    overflow: hidden;
}
.formula-item{
    opacity: 0.4;
}
.icon-item-popup__top.popup-reverted{
    top: 100px;
    padding-top: 40px;
}
.icon-item-popup__top.popup-reverted:before{
    transform: rotate(180deg);
}
.icon-item-popup__top.popup-reverted p{
    padding-top: 15px;
}
.icon-item-popup__bottom.popup-reverted{
    bottom: 80px;
    /*padding-top: 40px;*/
}
.icon-item-popup__bottom.popup-reverted:before{
    transform: rotate(0deg);
}
.icon-item-popup__bottom.popup-reverted p{
    padding-top: 15px;
}
@media (max-width: 1024px){
    .formula-item-popup.icon-item-popup__bottom.popup-reverted{
        bottom: 80px;
        top: inherit;
    }
    .problems-item-popup.icon-item-popup__bottom.popup-reverted{
         bottom: 50px;
         top: inherit;
     }
    .problems-item-popup-1.icon-item-popup__bottom.popup-reverted{
        top: inherit;
    }
    .icon-item-popup__bottom.popup-reverted:before{
        transform: rotate(0deg);
    }
    .icon-item-popup__bottom.popup-reverted p{
        padding-top: 15px;
    }
    .problems-item-popup.icon-item-popup__bottom.popup-reverted:before{
        transform: rotate(180deg);
    }
}
@media (min-width: 1025px){
    .problems-item-popup.problems-item-popup-1.icon-item-popup__bottom.popup-reverted{
        top: inherit;
    }
}
.formula-item-popup.active{
    opacity: 1;
    visibility: visible;

}
.formula-item.formula-slider__slide .formula-item__icon{
    z-index: 12;
}
.active-item .problems-item-popup {
    visibility: visible;
    opacity: 1;
}
.repair-types-nav__item-block{
    margin-top: 22px;
}
.repair-types-nav__item-block:first-child{
    margin-top: 0;
}
@media (min-width: 575px) and (max-width: 1024px){
    .problems-item-popup.icon-item-popup__bottom.popup-reverted{
        bottom: 80px;
    }
    .problems-item-popup.icon-item-popup__bottom.popup-reverted:before{
        transform: rotate(0deg);
    }
    .problems-item-popup{
        top: 100px;
    }
}
@media (max-width: 575px){
    .formula-item-popup{
        top: 60px;
    }
}
@media (max-width: 1024px) {
    .repair-types-nav__item-block{
        display: flex;
        justify-content: center;

    }
    .problems-item{
        max-width: 1000000px;
    }
}
@media (max-width: 1090px){
    .transparency-slider.row{
        display: flex;
        flex-wrap: nowrap;
    }
}
.popup{
    overflow: auto;
}
.popup-transparency-slider__slide{
    display: none !important;
}
.popup-transparency-slider__slide.active{
    display: block !important;
}

.portfolio-big-slider{
    opacity: 0.3 !important;
    display: none;
}
.portfolio-big-slider.active{
    opacity: 1 !important;
    display: flex;
}
.portfolio-small-slider.active{
    display: block;
    opacity: 1;
}
.portfolio-small-slider{
    display: none;
    opacity: 0.3;
}
.popup-portfolio-slider__slide{
    display: none;
}
.popup-portfolio-slider__slide.active{
    display: block;
}
.popup-portfolio-text-wrapper{
    height: 100%;
}
.popup-portfolio-text.active{
    display: flex;
}
.formula-slider{
    display: flex;
    margin-top: 70px;
    min-height: 0;
}
.formula-slider-wrap{
    min-height: 400px;
}


@media (max-width: 1200px){
    .formula .wrapper_small{
        margin-top: 0;
    }
}
@media (max-width: 767px){
    .formula-slider{
        margin-top: 160px;
    }
    #formula-arrow_left{
        top: 60%;
    }
    #formula-arrow_right{
        top: 60%;
    }
}
#problems-arrow_right{
    margin-top: 0;
}
#problems-arrow_left{
    margin-top: 0;
}
.reviews-slider__slide{
    display: none;
}
.reviews-slider__slide.active{
    display: flex;
}
#partners .slider-arrow{
    top: 60%;
}




